.logo {
    margin: 30px;
    text-align: center;
    font-weight: bold;
}

.js-tilt {
    box-shadow: 0 8px 30px 0 rgba(10,10,10,.15), 0 0 0 1px rgba(10,10,10,.1);
    background-color: rgba(255, 255, 255, 1);
}